{% extends 'base/base.html' %}
{% block nav %}
<li><a href="/">Notes</a></li>
<li class="right">
    <a href="{% url 'add_note' %}">Add Note</a>
    <a href="{% url 'profile' %}">Profile</a>
</li>
{% endblock %}
<!--end navigation bar-->
{% block content %}

<div class="body">
    <!--headings-->
    <h1>Your Profile</h1>
    <!--end headings-->

    <!--profile details container TODO-->
    <div class="note-container">
        <h2>
            {{ profile.whole_name }}
            <img src="{{ profile.image }}"/>
        </h2>
        <p>Age: {{ profile.age }}</p>
        <div>
            <p>All notes: {{ notes_count }}</p>
        </div>
        <form method="post" action="{% url 'profile' %}">
            {{ form }}
            {% csrf_token %}
            <div class="right">
                <button class="button delete">Delete</button>
            </div>
        </form>
    </div>
    <!--end profile details container-->
</div>
{% endblock %}